.column {
    width: 2vw;
    height: 2vw;
    margin: 0.2vw;
    border: 1vw solid rgba(140, 237, 250, 0.823);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%/50%;
    font-size: 3vw;
    padding: 0.7vw;
}

#grid
{
    margin: auto;
    border: 0.5vw black solid;
    width: 42vw;
    height: 36vw;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    padding: 0.1vw;
} 

h1{
    font-size: large;
    font-family: Helvetica;
    font-size: 4vw;
}
h2 {
    font-size: large;
    font-family: Helvetica;
    color: rgb(37, 118, 189);
}
.row {
    width: 10 vw;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: center;
}


.marker {
    width: 50px;
    height: 80px;
}

#winner-display {
    display: none;
    background-color: red;
    color: white;
}

body {
    text-align: center;
    background-color: rgb(255, 255, 255);
}

#reset-button{
    margin-top: 10px;
}
