


#Set-Yellow-Player-button{
    border-radius: 10px;
    transition-duration: 0.4s;;
    color: black;
}

#Set-Yellow-Player-button:hover {
    background-color: yellow; 
    color: black;
}

#Set-Red-Player-button{
    border-radius: 8px;
    transition-duration: 0.4s;
    background-color: white;
    
}

#Set-Red-Player-button:hover {
    background-color: red; 
    color: black;
    
}




#start-game-button{
    border-radius: 8px;
    transition-duration: 0.4s;
    background-color: yellow; 
    color: black;
}
#start-game-button:hover {
    background-color: red; 
    color: white;
}

#play-again-button {
    border-radius: 8px;
    transition-duration: 0.4s;
    background-color: yellow; 
    color: black;
}

#play-again-button:hover {
    background-color: red; 
    color: white;
}

#reset-button {
    border-radius: 8px;
    transition-duration: 0.4s;
    background-color: red; 
    color: black;
    
}

#reset-button:hover {
    background-color: yellow; 
    color: black;
    
}
    



 .column {
    width: 2.85vw;
    height: 2.2vw;
    margin: 0.15vw;
    border: 1vw solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%/50%;
    font-size: 2.1vw;

    padding: 0.77vw;

}

#grid {
    margin: auto;
    border: 0.9vw rgb(21, 0, 255) solid;
    width: 42vw;
    height: 36vw;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    padding: 0.5vw;
    background: radial-gradient(circle, transparent 2.35vw, #007fff 1vw, #007fff 1.4vw, #1f90ff 1.9vw, #1f90ff 2.8vw, #007fff) center top/ 6.05vw 6.19vw;
}

h1 {
    font-size: large;
    font-family: Helvetica;
    font-size: 4vw;
}

h2 {
    font-size: large;
    font-family: Helvetica;
    color: rgb(37, 118, 189);
}

.row {
    width: 5 vw;
    margin: auto;
    padding: 0.01vw;
    align-items: center;
    display: flex;
    justify-content: center;
}

#redplayerName {
    font-family: Helvetica;
    color: red;
    font-size: 3vw;
    -webkit-text-stroke: 0.1vw black;
}

#yellowplayerName {
    font-family: Helvetica;
    font-size: 3vw;
    color: yellow;
    -webkit-text-stroke: 0.1vw black;
}

.playernames {
    margin: auto;
    display: inline-block;
    border: 1vw groove red;
    padding: 1vw;
    font-family: Helvetica;
    font-size: medium;
}

.marker {
    width: 50px;
    height: 80px;
}

#winner-display {
    color: red;
    font-size: 3vw;
    -webkit-text-stroke: 0.1vw black;
    padding: 1vw;
    font-family:Verdana
}
#winner_is{
    font-family: Helvetica;
    font-size: 3vw;
    color: yellow;
    -webkit-text-stroke: 0.1vw black;
}

#game{
    color: red;
    font-size: 3vw;
    -webkit-text-stroke: 0.1vw black;
    padding: 1vw;
    font-family:Verdana
}

#over{
    font-family: Helvetica;
    font-size: 3vw;
    color: yellow;
    -webkit-text-stroke: 0.1vw black;
}

#naming-player-turn{
    color: black;
    align-items: center;
    justify-content: center;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    text-align: center;
    background-color: rgb(255, 255, 255);
}

#reset-button {
    margin-top: 10px;
}

.container {
    display: flex;
}

#PlayerHeader {
    color: red;
    font-size: 3vw;
    -webkit-text-stroke: 0.1vw black;
    padding: 1vw;
    font-family:Verdana

}

p {
    padding: 0.6vw;
    display: inline;
    float: inline-end;

}

#NameHeader {
    font-size: 3.2vw;
    color: yellow;
    -webkit-text-stroke: 0.1vw black;
    padding: 1vw;
    font-family: Verdana;

}

#playernameHeader {
    font-size: 3vw;
}

#your_taketurn{
    color: rgb(255, 0, 0);
    font-size: large;
    -webkit-text-stroke: 0.05vw black;
    font-size:20pt
}
#redHeader{
    color: rgb(255, 0, 0);
    -webkit-text-stroke: 0.1vw black;
    font-size: 15pt;
}


#YellowPlayerIs{
    font-size: 12pt;
}

#RedPlayerIs{
    font-size: 15pt;
}

#yellowHeader {
    font-size:  15pt;
    font-family:Verdana;
    color: yellow;
    -webkit-text-stroke: 0.1vw black;
}

#red{
    color: rgb(255, 0, 0);
    font-size: large;
    -webkit-text-stroke: 0.1vw black;
    font-size:20pt
}
#go{
    font-size: 20pt;
    font-family:Verdana;
    color: yellow;
    -webkit-text-stroke: 0.1vw black;
}

#first{
    color: rgb(255, 0, 0);
    font-size: large;
    -webkit-text-stroke: 0.1vw black;
    font-size:20pt
}

#red_score{
    color: rgb(255, 0, 0);
    font-size: large;
    -webkit-text-stroke: 0.05vw black;
    font-size:20pt
}

#yellow_score{
    font-size: 20pt;
    font-family:Verdana;
    color: yellow;
    -webkit-text-stroke: 0.05vw black;

}


img {
    height: 10vw;
    width: 30vw;
}
#naming-player-turn {
    font-size: 20pt;
    font-family:Verdana;
    color: yellow;
    -webkit-text-stroke: 0.05vw black;


}

#player-name-turn{
    color: rgb(255, 0, 0);
    font-size: large;
    -webkit-text-stroke: 0.05vw black;
    font-size:20pt
} 
